

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
      
      <div class="jumbotron">
        <h1 class="display-4">About Us</h1>
        <p class="lead">A web application which uses machine learning techniques to predict the bugs in the source code during early stages of development when the GitHub link of the project is given as the input to the website.</p>
        <hr class="my-4">
      </div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="">
  <div class="container">
    <div class="row">
      <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-4">Services we offer</h1>
        <p class="lead">BUG PREDICTION</p>
        <hr class="my-4">
      </div>
    </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">


      <div class="col-12">
        <div class="jumbotron">
          <h1 class="display-4">Contact us</h1>
          
          <hr class="my-4">
        </div>
    </div>
  </div>
</section>