

<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto" class="text-monospace">
          <h2>About this page</h2>
         
         <p class="lead"> A web application which uses machine learning techniques to predict the bugs in the source code during early stages of development when the GitHub link of the project is given as the input to the website.
         </p>
        </div>
      </div>
    </div>
</section>

<section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services we offer</h2>
          <p class="lead">BUG PREDICION</p>
        </div>
      </div>
    </div>
</section>

<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">Veera Vishnu Vardhan Naidu</p>
          <ul>
            <li>email: vvnaidu@deakin.edu.in</li>
            <li>Student ID: 219580609</li>
          </ul>
        </div>
      </div>
    </div>
</section>