<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page Not Found - Software Bug Predictor</title>
    <meta name="title" content="Page Not Found - Software Bug Predictor">
    <meta name="description" content="Software Bug Predictor is a service that allows you to predict bugs in software by linking any GitHub repository">
    <meta name="keywords" content="Bugs, GitHub, Software Development">

  
  </head>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    OOPS, page not found :)
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>