<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home - Software Bug Predictor</title>
  <meta name="title" content="Home - Software Bug Predictor">
  <meta name="description" content="Software Bug Predictor is a service that allows you to predict bugs in software by linking any GitHub repository">
  <meta name="keywords" content="Bugs, GitHub, Software Development">
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/loader.css" rel="stylesheet">


</head>

<body id="page-top">


<%- include("./partials/nav.ejs") %>
<%- include("./partials/describe.ejs") %>

<section class="container">
      <div class="container">
        <h4 class="text-left margin-1rem">Get started by just using the GIT URL</h4>
        <div id="loader" class="d-none">
        <div class="loader"></div>
        <p class="pl-4"> Wait Just a  moment while we check for BUGS! </p>
        </div>
        <div id="inputrepolinkgroup"class="input-group mb-3 has-validation">
        <input class="form-control mr-1 " id="uploadrepolink" placeholder="eg. https://github.com/NaiduVeeraVishnuVardhan/SoftwareBugPredictor">
        <div class="input-group-append">
          <button id="myButton" class="btn btn-outline-dark"  type="button">Submit</button>
        </div>
        <div class="invalid-feedback">
        Github link starts with 'https://github.com' and ends  with '.git'
      </div>
      </div>
</section>

<%- include("./partials/content.ejs") %>
<%- include("./partials/footer.ejs") %>


  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/scrolling-nav.js"></script>


  <script>
    let canSubmit = false;
    const repogroup = document.getElementById('inputrepolinkgroup');
    const repolink = document.getElementById('uploadrepolink')

    const loader = document.getElementById('loader')

    const form = document.getElementById('myButton');
    repolink.addEventListener('input',userInputValidation,false)
    form.addEventListener('click', repo, false );

    async function repo(event){
        event.preventDefault()
        if(canSubmit){
        repogroup.classList.add('d-none');
        loader.classList.remove('d-none');
        loader.classList.add('d-flex');

        const result = await fetch('/result',{
            method: 'POST',
            headers:{
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify({
              repolink:repolink.value
            })
        }).then((res) => res.json())

      window.location.href = "result";
        }
    }

    async function userInputValidation(event){
      let link = event.target.value;
      let isValid = await isGitUrl(link);
      if(isValid){
        repolink.classList.remove('is-invalid');
        repolink.classList.add('is-valid');
        canSubmit = true

      } else{
        repolink.classList.add('is-invalid');
        repolink.classList.remove('is-valid');
        canSubmit=false
      }

    }

    async function isGitUrl(str) {
        let regex = /(?:git|https?|git@[-\w.]+):(\/\/)?(github.com)\/(.*\/)(.{5,})/;
        return regex.test(str);
    };


</script>

</body>
</html>
