<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Home</title>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/loader.css" rel="stylesheet">


</head>

<body id="page-top">


<%- include("./partials/nav.ejs") %>
<%- include("./partials/describe.ejs") %>

<section class="container">
      <div class="container">
        <h4 class="text-left margin-1rem">Get started by just using the GIT URL</h4>
        <div id="loader" class="d-none hidden">
        <div class="loader"></div>
        <p class="pl-4"> Wait Just a  moment while we check for BUGS! </p>
        </div>
        <div id="inputrepolinkgroup"class="input-group mb-3">
        <input class="form-control mr-1" id="uploadrepolink" placeholder="https://github.com/NaiduVeeraVishnuVardhan/SoftwareBugPredictor">
        <div class="input-group-append">
          <button id="myButton" class="btn btn-outline-dark"  type="button">Submit</button>
        </div>
      </div>
</section>

<%- include("./partials/content.ejs") %>
<%- include("./partials/footer.ejs") %>


  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/scrolling-nav.js"></script>


  <script>
    const loading = false;
    const repogroup = document.getElementById('inputrepolinkgroup')
    const loader = document.getElementById('loader')

    const form = document.getElementById('myButton');
    form.addEventListener('click', repo, false );

    async function repo(event){
        event.preventDefault()
        repogroup.classList.add('d-none');
        loader.classList.remove('d-none');
        loader.classList.remove('d-flex');

        const repolink = document.getElementById('uploadrepolink').value

        const result = await fetch('/api/reg',{
            method: 'POST',
            headers:{
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify({
              repolink
            })
        }).then((res) => res.json())

      window.location.href = "result";
    }
</script>

</body>
</html>
