<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

 
  <%- include("./partials/nav.ejs") %>
  <%- include("./partials/describe.ejs") %>
  <section>
  <h4 class="text-center">Download predicted project bugs here.</h4>
    <!-- <div class="col-md-12 text-center">
        <button id="download" class="btn btn-outline-primary"  type="button">Download</button>
    </div> -->
    
    <div class="col-md-12 text-center">
      <a href="../public/files/data.csv" download="data.csv" target="_blank" class="resumeButton"><button id="download" class="btn btn-outline-primary"  type="button">Download</button></a>
     
    </div>
  </section>

  <section>
    <div class="container">
        <h4 class="text-center">Diagnose another project.</h4>
        <div class="col-md-12 text-center">
        <button id="myButton" class="btn btn-outline-primary"  type="button">Diagnose</button>
        </div>
      </div>
    </section>

<%- include("./partials/content.ejs") %>      
<%- include("./partials/footer.ejs") %>


<script>
    const button = document.getElementById('myButton')
    button.addEventListener('click', returnHome, false );
    async function returnHome(event){
        event.preventDefault()  
        window.location.href = "/";
    } 
    


    const form = document.getElementById('myButton')
    form.addEventListener('click', downloadExcel, false );
    
    async function downloadExcel(event){
        event.preventDefault()  
          
              
    }   


</script>

</body>
</html>
