body {
    min-height: 100vh;
}
.margin-1rem {
    margin-bottom: 1rem;
}
header {
    background: url(../images/headerbg.jpg) no-repeat center center;
    background-size: cover;
}
.view-report {
    display: none;
    margin-top: 3rem;
}

.center {
    max-height: 400px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.center {
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.center thead tr {
    background-color: #70928b;
    color: #ffffff;
    text-align: left;
}

.center th,
.center td {
    padding: 12px 15px;
}

.center tbody tr {
    border-bottom: 1px solid #dddddd;
}

.center tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.center tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.center tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
